
#createnote{
    display: flex;
    flex-wrap: wrap;  
    background-color: rgb(181, 236, 236);
    border-radius: 20px;
}
#card{
    background-color:rgb(220, 208, 208);
    height: 20%;
    width: 20%;
    border-radius: 20px;
    margin: 10px;
    padding: 20px 30px;
}
#card>button{
    background-color:rgb(224, 115, 115);
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    color: whitesmoke;
    font-weight: bold;
}
#card>button:hover{
    scale: 0.9;
    background-color: red;
}
#form{
    background-color:rgb(220, 208, 208);
    height: 140px;
    width: 40%;  
    padding: 20px 30px;
    border-radius:30px;
      
}
#form>form{
    display: flex;
    gap: 20px; 
    flex-direction: column;   
}
form>input{
    font-size: 20px;
    border: none;
    size: 20px;
    border-radius: 20px;
    padding: 5px 10px;
}
form>input:hover{
    scale: 1.1;
}
form>button{
    background-color:rgb(72, 217, 72);
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    color: whitesmoke;
    font-weight: 700;
    font-size: 20px;
}
form>button:hover{
    scale:0.9;
    background-color: gray;
}